* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, sans-serif;
    background: linear-gradient(to right, #ff66cc, #ff99cc);
    color: #9b1d4f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estrutura_inicial {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
    padding-left: 10px;
}

.estrutura_linha {
    display: flex;
    justify-content: space-between;
}

.estrutura_form {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(155, 29, 79, 0.2);
    width: 350px;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #9b1d4f;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #f5a5c6;
    border-radius: 6px;
    font-size: 14px;
}

#grid {
    flex: 2;
    border-collapse: collapse;
    width: 100%;    
    max-width: 1000px;
    margin: 0px 10px 0 50px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 4px 4px rgba(155, 29, 79, 0.2);
}

#grid_linha th {
    background-color: white;
    color: #9b1d4f;
    text-align: left;
    font-weight: normal;
    border-bottom: 2px solid #f5a5c6;
}

#grid th {
    padding: 5px;
}

button {
    margin: 20px 10px 0 0;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #ff4c8b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f579ad;
}

